// -------Nav section-----------
nav {
  width:100%;
  background:#232F3E;
  overflow: hidden;
}

.nav-left, .nav-center, .nav-right {
  display:inline-block;
}

.nav-left {
  width:10%;
  margin-left: 5%;

  p {
    color:white;
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;

    span {
      color:#FEBD69;
    }
  }
}

.nav-center {
  width:50%;
  padding-left:250px;
  padding-top:20px;


  .search {
    width:400px;
    border-radius:8px;
  }

  .search-button {
    color:white;
    font-family:'lato';
    background:#FEBD69;
    width:100px;
    height:25px;
    border-radius:8px;
    border:1px solid grey;
    margin:3%;
    cursor: pointer;

    a {
      color:inherit;
      text-decoration:inherit;
    }
  }
}

.nav-right {
  width:10%;


  .person, .envelope, .notifications {
    height:20px;
    width:20px;
    padding-left:25px;
  }
}

.nav-menu {
  color:white;
  font-family:'lato';
  font-size: 20px;
  font-weight: lighter;

  .menu-items {
    list-style:none;
    text-align:center;

    a {
      color:inherit;
      text-decoration:inherit;
    }

    li {
      display:inline;
      margin: 0px 30px 0px 30px;
    }
  }
}

// ---------main section-----------
.main {
  clear: both;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'lato';

}

.my-books, .feed, .top-reads {
  float:left;
}

.my-books {
  width:20%;
  text-align: center;
  line-height:0px;

  .current, .queue, .read {
    border:1px solid grey;

    img {
      height:20px;
    }
  }
}

.feed {
  width:60%;
  height:1000px;
  background:lightgrey;
}

.top-reads {
  width:20%;
}

article {
  line-height: 0px;
  width: 50%;
  float: left;

  .book-cover {
    height:100px;
  }
}
