// -------Nav section-----------
nav {
  width:100%;
  background:#232F3E;
}

.nav-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.nav-left, .nav-center, .nav-right {
  display:inline-block;
  box-sizing: border-box;
}

.nav-left {

  a {
    text-decoration: none;
  }

  p {
    color:white;
    font-size: 36px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;

    span {
      color:#FEBD69;
    }
  }
}

.nav-center {
  // width:50%;
  padding-top:20px;

  #search-container {
    margin: 0 auto;
  }


  .search {
    width:400px;
    border-radius:8px;
  }

  .search-button {
    color:white;
    font-family:'lato';
    background:#FEBD69;
    width:100px;
    height:25px;
    border-radius:8px;
    border:1px solid grey;
    cursor: pointer;

    a {
      color:inherit;
      text-decoration:inherit;
    }
  }
}

.nav-right {

  .icons {
    float: right;
  }


  .person, .envelope, .notifications {
    height:20px;
    width:20px;
    padding-left:25px;
  }
}

.nav-menu {
  color:white;
  font-family:'lato';
  font-size: 20px;
  font-weight: lighter;

  button {
    display:none;
  }

  .menu-items {
    list-style:none;
    padding: 0;
    margin: 0;
    text-align:center;

    li {
      display:inline-block;
      margin: 0px 30px 0px 30px;
    }

    a {
      color:inherit;
      display: block;
      text-decoration:inherit;
    }
  }
}

// -------------Dropdown Boxes----------
.dropdown-trigger {
  position: relative;
}

.browse-dropdown {
  display:none;
  position:absolute;
  padding: 0;
  border:1px solid grey;

  li {
    display:block;
    background:white;
    color:black;
    padding:10px;
    white-space:nowrap;
    width:200px;
    margin: 0px !important;
  }
}

.dropdown-trigger:hover .browse-dropdown {
  display:block;
}


// ---------main section-----------
.main {
  clear: both;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'lato';

}

.my-books, .feed, .top-reads {
  float:left;
}

.my-books {
  width:18%;
  text-align: center;
  line-height:0px;

  h2 {
    font-weight: lighter;
  }

  .current, .queue, .read {
    border:2px solid grey;
    background:#FEBD69;
    border-radius:4px;

    img {
      height:20px;
      opacity:.75;
    }

  }
}

.current-books {
  overflow: hidden;
  background:lightgrey;

  img {
    height:125px;
    float:left;
    margin:9%;
  }

  .hod {
    height:105px;
  }
}

.feed {
  width:60%;
  // border:1px solid grey;
  background:#e9ebee;

  h2 {
    font-weight:100;
    padding-left:85px;
  }
}

.top-reads {
  width:18%;
  text-align: center;

  h1 {
    font-weight: lighter;
  }
}

article {
  line-height: 0;
  width: 50%;
  float: left;
  font-weight: lighter;

  .book-cover {
    height:100px;
  }
}

.post-one, .post-two {
  background:white;
  margin-left:10%;
  margin-right:10%;
  border:1px solid lightgrey;
  border-radius:10px;

  .post-head {
    overflow:hidden;
    font-family:'Lato';
    padding:10px;


    .post-logo {
      height:60px;
      width:60px;
      border-radius:50%;
      float:left;
      object-fit: cover
    }

    h2 {
      float:left;
    }

    p {
      float:right;
      font-size:12px;
      color:grey;
      padding-top:20px;
    }
  }

  .post-content {

    img {
      height:200px;
      margin-left:5%;
      object-fit: contain;
    }

    p {
      width:60%;
      float:right;
      margin-right:10%;
      line-height: 2em;
    }
  }
}

@media (max-width:769px) {

  .nav-left, .nav-center, .nav-right {
    display:block;
  }

  .nav-left {
    margin:0 auto;
    padding:0;

    .logo {
      text-align: center;
    }
  }
  .nav-center {
    margin:0 auto;
    padding:0;

    .search-button {
      margin-left:35%;
    }
  }
  .nav-right {
    float:right;

    .icons {
      display:none;
    }
  }

  .my-books {
    width:20%;
  }

  .top-reads {
    display:none;
  }

  .feed {
    width:75%;

    .content-img {
      width:20%;
    }
    p {
      width:40%;
      padding-left:5px;
    }

  }
}


@media (max-width:400px) {

  .nav-menu .menu-items {
    margin: 12px 12px 0px 12px;

    li {
      margin: 0px 30px 10px 30px;
    }
  }

  .my-books {
    display:none;
  }

  .feed {
    width:100%;
    .my-feed {
      padding-left: 50px;
    }
  }

  .feed h2 {
    padding:0;
  }

  .post-one .post-head p {
    float: left;
  }

  .post-one {
  }

  .post-content {

    img {
      width:25%;
    }

    p {
      width:50%;
      line-height: 1em !important;
    }

    .hh-killinglincoln, .hh-thelittleprince, .hh-odyssey, .hh-killingkennedy {
      padding-top:40px;
    }
  }
}
