nav {
  width: 100%;
  background: #232F3E; }

.nav-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap; }

.nav-left, .nav-center, .nav-right {
  display: inline-block;
  box-sizing: border-box; }

.nav-left a {
  text-decoration: none; }
.nav-left p {
  color: white;
  font-size: 36px;
  font-family: 'Lato', sans-serif;
  font-weight: lighter; }
  .nav-left p span {
    color: #FEBD69; }

.nav-center {
  padding-top: 20px; }
  .nav-center #search-container {
    margin: 0 auto; }
  .nav-center .search {
    width: 400px;
    border-radius: 8px; }
  .nav-center .search-button {
    color: white;
    font-family: 'lato';
    background: #FEBD69;
    width: 100px;
    height: 25px;
    border-radius: 8px;
    border: 1px solid grey;
    cursor: pointer; }
    .nav-center .search-button a {
      color: inherit;
      text-decoration: inherit; }

.nav-right .icons {
  float: right; }
.nav-right .person, .nav-right .envelope, .nav-right .notifications {
  height: 20px;
  width: 20px;
  padding-left: 25px; }

.nav-menu {
  color: white;
  font-family: 'lato';
  font-size: 20px;
  font-weight: lighter; }
  .nav-menu button {
    display: none; }
  .nav-menu .menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; }
    .nav-menu .menu-items li {
      display: inline-block;
      margin: 0px 30px 0px 30px; }
    .nav-menu .menu-items a {
      color: inherit;
      display: block;
      text-decoration: inherit; }

.dropdown-trigger {
  position: relative; }

.browse-dropdown {
  display: none;
  position: absolute;
  padding: 0;
  border: 1px solid grey; }
  .browse-dropdown li {
    display: block;
    background: white;
    color: black;
    padding: 10px;
    white-space: nowrap;
    width: 200px;
    margin: 0px !important; }

.dropdown-trigger:hover .browse-dropdown {
  display: block; }

.main {
  clear: both;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'lato'; }

.my-books, .feed, .top-reads {
  float: left; }

.my-books {
  width: 18%;
  text-align: center;
  line-height: 0px; }
  .my-books h2 {
    font-weight: lighter; }
  .my-books .current, .my-books .queue, .my-books .read {
    border: 2px solid grey;
    background: #FEBD69;
    border-radius: 4px; }
    .my-books .current img, .my-books .queue img, .my-books .read img {
      height: 20px;
      opacity: .75; }

.current-books {
  overflow: hidden;
  background: lightgrey; }
  .current-books img {
    height: 125px;
    float: left;
    margin: 9%; }
  .current-books .hod {
    height: 105px; }

.feed {
  width: 60%;
  background: #e9ebee; }
  .feed h2 {
    font-weight: 100;
    padding-left: 85px; }

.top-reads {
  width: 18%;
  text-align: center; }
  .top-reads h1 {
    font-weight: lighter; }

article {
  line-height: 0;
  width: 50%;
  float: left;
  font-weight: lighter; }
  article .book-cover {
    height: 100px; }

.post-one, .post-two {
  background: white;
  margin-left: 10%;
  margin-right: 10%;
  border: 1px solid lightgrey;
  border-radius: 10px; }
  .post-one .post-head, .post-two .post-head {
    overflow: hidden;
    font-family: 'Lato';
    padding: 10px; }
    .post-one .post-head .post-logo, .post-two .post-head .post-logo {
      height: 60px;
      width: 60px;
      border-radius: 50%;
      float: left;
      object-fit: cover; }
    .post-one .post-head h2, .post-two .post-head h2 {
      float: left; }
    .post-one .post-head p, .post-two .post-head p {
      float: right;
      font-size: 12px;
      color: grey;
      padding-top: 20px; }
  .post-one .post-content img, .post-two .post-content img {
    height: 200px;
    margin-left: 5%;
    object-fit: contain; }
  .post-one .post-content p, .post-two .post-content p {
    width: 60%;
    float: right;
    margin-right: 10%;
    line-height: 2em; }

@media (max-width: 769px) {
  .nav-left, .nav-center, .nav-right {
    display: block; }

  .nav-left {
    margin: 0 auto;
    padding: 0; }
    .nav-left .logo {
      text-align: center; }

  .nav-center {
    margin: 0 auto;
    padding: 0; }
    .nav-center .search-button {
      margin-left: 35%; }

  .nav-right {
    float: right; }
    .nav-right .icons {
      display: none; }

  .my-books {
    width: 20%; }

  .top-reads {
    display: none; }

  .feed {
    width: 75%; }
    .feed .content-img {
      width: 20%; }
    .feed p {
      width: 40%;
      padding-left: 5px; } }
@media (max-width: 400px) {
  .nav-menu .menu-items {
    margin: 12px 12px 0px 12px; }
    .nav-menu .menu-items li {
      margin: 0px 30px 10px 30px; }

  .my-books {
    display: none; }

  .feed {
    width: 100%; }
    .feed .my-feed {
      padding-left: 50px; }

  .feed h2 {
    padding: 0; }

  .post-one .post-head p {
    float: left; }

  .post-content img {
    width: 25%; }
  .post-content p {
    width: 50%;
    line-height: 1em !important; }
  .post-content .hh-killinglincoln, .post-content .hh-thelittleprince, .post-content .hh-odyssey, .post-content .hh-killingkennedy {
    padding-top: 40px; } }

/*# sourceMappingURL=style.css.map */
